.week-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--divider-color);
  border-radius: 4px;
}

.week-view-header, .week-view-content {
  display: flex;
  flex-direction: row;
}

.header-cell, .time-cell, .day-cell, .day-header-cell {
  border: 1px solid var(--divider-color);
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevent header cells from wrapping */
}

.header-cell {
  font-weight: bold;
  background-color: var(--scheduler-header-background);
}

.week-view-hour-col {
  flex-basis: 8%; /* Adjusted width for week view */
  text-align: right;
  padding-right: 10px;
}

.week-view-day-header, .week-view-day-col {
  flex-grow: 1;
  position: relative; /* For absolute positioning of events */
  width: 14.28%; /* Roughly equal day column widths (for 7 days) */
  flex-basis: 0; /* Ensure equal distribution */
}

.week-event {
  position: absolute;
  background-color: var(--event-item-background);
  border-left: 3px solid var(--event-item-border-color);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
  width: calc(100% - 10px); /* Adjust width to fit within day cell with padding */
  margin-left: 5px;
  margin-right: 5px;
}
.day-header-cell {
  padding: 10px 5px; /* Adjust header cell padding for day header */
}

.week-view-actions {
  padding: 10px;
  text-align: right;
}
